ion-content {
  --background: rgb(250, 250, 250);
}

.logo {
  width: 175px;
  margin: auto;
  padding: 10px;
}

.nameSpace {
  margin: 15px;
  display: flex;
  position: relative;
  &Img {
    width: 65px;
  }
  &Hello {
    position: absolute;
    bottom: -5px;
    left: 40px;
    display: flex;
    h1 {
      font-weight: 800;
      color: #333;
    }
    &Name {
      background: linear-gradient(90deg, #0094FF 0%, #0066AF 100%) !important;
      -webkit-background-clip: text !important;
      color: transparent !important;
    }
    h6 {
      position: absolute;
      bottom: 25px;
      left: 20px;
      font-size: 12px;
      color: #BBB;
      font-weight: 600;
    }
    & > * {
      margin-right: 5px;
    }
  }
}

.cards {
  ion-col {
    padding: 9px;
    .card {
      background-color: white;
      width: 100px;
      height: 100px;
      padding: 5px;
      border-radius: 20px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
      transition: all 0.35s;
      position: relative;
      &:active {
        transform: scale(0.97);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
      }
      &Img {
        width: 75px;
        height: 75px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-img {
          object-fit: contain;
          width: 75px;
          height: 75px;
        }
      }
      &Details {
        width: 75px;
        margin: auto;
        position: absolute;
        bottom: 0px;
        margin-left:auto;
        margin-right:auto;
        left:0;
        right:0;
        h6 {
          text-align: center;
          font-size: 12px;
          color: #BBB;
          font-weight: 400;
        }
      }
    }
  }
}