<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo" src="/assets/logo.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
          <div class="nameSpace">
            <ion-img class="nameSpaceImg" src="/assets/name-img.svg"></ion-img>
            <div class="nameSpaceHello">
              <h1>Hola </h1><h1 class="nameSpaceHelloName">Miguel Zabala</h1>
              <h6>Aries</h6>
            </div>
          </div>
        
          <div *ngIf="contentLoaded" >
            <ion-grid class="cards">
              <ion-row>
                <ion-col class="cardsContent" size="4" *ngFor="let horoscopo of horoscopos" >
                  <div class="card" (click)="showHoroscopo(horoscopo)">
                    <div class="cardImg">
                      <ion-img src="/assets/constellations/{{ horoscopo.nombre }}.svg"></ion-img>
                    </div>
                    <div class="cardDetails">
                      <h6>{{ horoscopo.nombre }}</h6>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        
          <div *ngIf="!contentLoaded">
            <ion-grid class="cards">
              <ion-row>
                <ion-col  class="cardsContent" size="4" *ngFor="let i of [].constructor(12)" >
                  <div class="cardLoading">
                    <div class="cardImg">
                      <!-- <ion-img></ion-img> -->
                    </div>
                    <div class="cardDetails">
                      <h6 class="ion-text-center">
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                      </h6>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
</ion-content>
