<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="logo" src="/assets/logo.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="nameSpace">
    <ion-img class="nameSpaceImg" src="/assets/name-img.svg"></ion-img>
    <div class="nameSpaceHello">
      <h1>Hola </h1><h1 class="nameSpaceHelloName">Miguel Zabala</h1>
      <h6>Aries</h6>
    </div>
  </div>

  <ion-grid class="cards">
    <ion-row>
      <ion-col>
        <div class="card">
          <div class="cardImg">
            <ion-img src="/assets/constellations/Aries.svg"></ion-img>
          </div>
          <div class="cardDetails">
            <h6>Aries</h6>
          </div>
        </div>
      </ion-col>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
      <ion-col><div class="card"></div></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
